// Colors
:root {
  --primaryColor: #00eaff;
  --primaryColorHoverBtn: #00daee;
  --primaryHover: #08b9c9;
  --secondaryColor: #96a2bc;
  --paragraphColor: #a9a9c9;
  --BgColor: #031a30;
  --formColor: #020f1d;
  --projectCardColor: #072340;
  --textColor: #dae4fb;
}

// FONT
$default-font-size: 1.6rem;

// GRID

$gutter-vertical: 8rem;
$gutter-vertical-smallest: 1.4rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 6rem;

// SHADOW
$shadow-cards: rgba(0, 0, 0, 0.15);
$shadow-pulsate: rgba(0, 0, 0, 0.3);
$shadow-cards--hover: rgba(8, 185, 201, 0.1);
$shadow-cards--hover2: rgba(8, 185, 201, 0.15);
$shadow-footer: rgba(0, 0, 0, 0.1);
