.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border: none;
  box-shadow: 0 2rem 3rem $shadow-cards;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 3rem $shadow-cards--hover2;
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(-2px);
  }

  &__primary,
  &__secondary,
  &__form {
    color: var(--BgColor);
    background: linear-gradient(
      to right bottom,
      var(--primaryColor) 30%,
      var(--primaryHover)
    );
    letter-spacing: 0.2px;
    border-radius: 3px;
    transition: all 0.3s;

    &:hover {
      background: linear-gradient(
        to right bottom,
        var(--primaryColorHoverBtn) 60%,
        var(--primaryHover)
      );
    }
  }

  &__primary {
    font-size: 2.2rem;
    padding: 1.6rem 3.2rem;
  }

  &__secondary {
    font-size: 1.8rem;
    padding: 1.4rem 3rem;

    &--text {
      margin-right: 0.6rem;
    }
  }

  &__tertiary {
    font-size: 1.8rem;
    color: var(--primaryColor);
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  &__form {
    font-family: inherit;
    color: var(--BgColor);
    font-size: 1.4rem;
    padding: 1.8rem 3.2rem;
    width: 100%;
    font-weight: 600;
    border-radius: 0.6rem;
    letter-spacing: 0.8px;
  }

  &__icon {
    display: inline-block;
    font-size: 2.2rem;
    width: 1.7rem;
    margin-left: 0.6rem;
    transform: translateY(1.4px);

    &-animated {
      animation: arrowUpDown 0.65s infinite;
    }
  }

  &__popup {
    display: block;
    border-radius: 50%;
    background-color: var(--textColor);
    width: 1.8rem;
    height: 1.8rem;
    transition: all 0.3s;

    &--img {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      transform: none;
    }
  }
}
