////////////////////////////////////////////////
.fixed-elements {
  color: var(--secondaryColor);

  &__left {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__left {
    bottom: 0;
    left: 7%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__left-image {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__img-github {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
      &::before {
        background: var(--primaryHover);
      }
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
      background: var(--secondaryColor);
      -webkit-mask-image: url(../../img/github.png);
      mask-image: url(../../img/github.png);
      -webkit-mask-size: cover; /* this makes the mask cover the whole overlay */
      mask-size: cover;
    }
  }

  &__img-frontendmentor {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: var(--secondaryColor);
    -webkit-mask-image: url(../../img/frontend-mentor-logo.png);
    mask-image: url(../../img/frontend-mentor-logo.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
      background: var(--primaryHover);
    }
  }

  &__right {
    position: fixed;
    bottom: 0;
    right: 7%;

    display: flex;
    align-items: center;
    flex-direction: column;

    &-mail {
      position: relative;
      display: inline-block;
      -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      -o-transform-origin: 100% 0;
      transform-origin: 100% 0%;
      transform: rotate(90deg) translateX(-5rem);
      width: auto;
      height: auto;
      transition: all 0.3s;

      &:hover {
        transform: rotate(90deg) translateX(-4.5rem) scale(1.08);

        &::after {
          color: var(--primaryHover);
        }
      }

      &::after {
        content: "madjardusan@gmail.com";
        display: inline-block;
        font-weight: 800;
        color: var(--secondaryColor);
        font-size: 1.7rem;
        position: absolute;
        right: -2rem;
        top: -1rem;
        transition: all 0.3s;
      }
    }
  }

  &__line {
    background-color: var(--secondaryColor);
    width: 1px;
    height: 17rem;
  }
}
