////////////////////////////////////////////////
.fixed-elements {
  color: var(--secondaryColor);
  @include respond(phone) {
    display: none;
  }

  &__left {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;

    bottom: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    transition: all 0.3s;
    background: var(--secondaryColor);

    -webkit-mask-size: cover; /* this makes the mask cover the whole overlay */
    mask-size: cover;

    &:hover {
      transform: scale(1.1);
      background: var(--primaryHover);
    }

    &-github {
      -webkit-mask-image: url(../../img/github.png);
      mask-image: url(../../img/github.png);
    }

    &-linkedin {
      -webkit-mask-image: url(../../img/linkedin.png);
      mask-image: url(../../img/linkedin.png);
    }

    &-frontendmentor {
      -webkit-mask-image: url(../../img/frontend-mentor-logo.png);
      mask-image: url(../../img/frontend-mentor-logo.png);
    }
  }

  &__right {
    position: fixed;
    bottom: 0;
    right: 5%;

    display: flex;
    align-items: center;
    flex-direction: column;

    &-mail {
      position: relative;
      display: inline-block;
      -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      -o-transform-origin: 100% 0;
      transform-origin: 100% 0%;
      transform: rotate(90deg) translateX(-5rem);
      width: auto;
      height: auto;
      transition: all 0.3s;

      &:hover {
        transform: rotate(90deg) translateX(-4.5rem) scale(1.08);

        &::after {
          color: var(--primaryHover);
        }
      }

      &::after {
        content: "madjardusan@gmail.com";
        display: inline-block;
        font-weight: 800;
        color: var(--secondaryColor);
        font-size: 1.7rem;
        position: absolute;
        right: -2rem;
        top: -1rem;
        transition: all 0.3s;
      }
    }
  }

  &__line {
    background-color: var(--secondaryColor);
    width: 1px;
    height: 17rem;
  }
}
