// For animation below section name
@keyframes moveInRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(13.5rem);
  }
}

// For opening mobile navigation
@keyframes moveMobileNavOpen {
  0% {
    transform: translate(-50%, -120%);
  }

  65% {
    transform: translate(-50%, 15%);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes moveMobileNavClose {
  0% {
    transform: translate(-50%, 0);
  }

  65% {
    transform: translate(-50%, 15%);
  }

  100% {
    transform: translate(-50%, -120%);
  }
}

// Animation is used in header next to "Scroll Down" text
@keyframes arrowUpDown {
  0% {
    transform: translateY(-0.26rem);
  }

  50% {
    transform: translateY(0.26rem);
  }

  100% {
    transform: translateY(-0.26rem);
  }
}

// For navigation, it used with observer
@keyframes downNaw {
  0% {
    transform: translateY(-9rem);
  }

  100% {
    transform: translateY(0);
  }
}

// For scale text after message is successed sent
@keyframes scaleContent {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

// For popup
@keyframes displayPopup {
  0% {
    transform: translate(-50%, -10rem);
  }

  100% {
    transform: translate(-50%, 0);
  }
}
