@keyframes moveInRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(13.5rem);
  }
}

@keyframes moveMobileNavOpen {
  0% {
    transform: translate(-50%, -120%);
  }

  65% {
    transform: translate(-50%, 15%);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes moveMobileNavClose {
  0% {
    transform: translate(-50%, 0);
  }

  65% {
    transform: translate(-50%, 15%);
  }

  100% {
    transform: translate(-50%, -120%);
  }
}

@keyframes arrowUpDown {
  0% {
    transform: translateY(-0.26rem);
  }

  50% {
    transform: translateY(0.26rem);
  }

  100% {
    transform: translateY(-0.26rem);
  }
}

@keyframes downNaw {
  0% {
    transform: translateY(-9rem);
  }

  100% {
    transform: translateY(0);
  }
}

// @keyframes upNaw {
//   0% {
//     transform: translateY(0);
//   }

//   100% {
//     transform: translateY(-9rem);
//   }
// }
