body {
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: var(--BgColor);
  color: var(--textColor);
}

.heading {
  &-primary {
    line-height: 1;
    font-weight: 600;

    &--sub {
      display: inline-block;
      color: var(--primaryColor);
      font-size: 3rem;
      letter-spacing: 1.7px;
      @include respond(phone) {
        font-size: 2.8rem;
      }
    }

    &--main {
      display: inline-block;
      font-size: 7.5rem;
      letter-spacing: 0.2px;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--BgColor);
        border-left: 2px solid var(--primaryHover);
        animation: animateText 4s steps(12) infinite;

        animation-fill-mode: backwards;
      }

      @include respond(tab-port) {
        font-size: 6.2rem;
        letter-spacing: 0.2px;
      }

      @include respond(phone) {
        font-size: 4rem;
      }
    }
  }

  &-secondary {
    font-weight: 600;

    &--sub {
      display: inline-block;
      font-size: 3.3rem;
      color: var(--primaryColor);
      margin-bottom: 0.4rem;
    }

    &--main {
      display: inline-block;
      position: relative;
      font-size: 3.2rem;
    }
  }

  &-tertiary {
    font-size: 2.2rem;
    color: var(--textColor);
    font-weight: 600;
  }

  &-fourth {
    font-size: 1.8rem;
    color: var(--textColor);
    font-weight: 600;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.underline {
  display: block;
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  height: 0.4rem;
  width: 100%;
  background-color: var(--secondaryColor);
  border-radius: 8rem;
  overflow: hidden;
  // $calc: percentage-to-rem(100, 10px);

  &::after {
    content: "";
    display: block;
    background-color: var(--textColor);
    position: absolute;
    top: 0;
    left: -1.7rem;
    width: 1.6rem;
    height: 100%;
    border-radius: 8rem;
    animation: linear infinite moveInRight 2s;
  }
}

.paragraph {
  font-size: 1.8rem;
  color: var(--paragraphColor);
  font-weight: 500;
  letter-spacing: 0.87px;
  line-height: 1.3;
}
