body {
  font-family: "Advent Pro", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2;
  background-color: var(--BgColor);
  color: var(--textColor);
}

.heading {
  &-primary {
    line-height: 1;
    font-weight: 600;

    &--sub {
      display: inline-block;
      color: var(--primaryColor);
      font-size: 3rem;
      letter-spacing: 1.7px;
    }

    &--main {
      display: inline-block;
      font-size: 7.5rem;
      letter-spacing: 0.2px;
    }
  }

  &-secondary {
    font-weight: 600;

    &--sub {
      display: inline-block;
      font-size: 3.3rem;
      color: var(--primaryColor);
      margin-bottom: 0.4rem;
    }

    &--main {
      display: inline-block;
      position: relative;
      font-size: 3.2rem;
    }
  }

  &-tertiary {
    font-size: 2.2rem;
    color: var(--textColor);
    font-weight: 600;
  }

  &-fourth {
    font-size: 1.8rem;
    color: var(--textColor);
    font-weight: 600;
  }
}

// @function percentage-to-rem($percentage, $base-font-size: 16px) {
//   $rem-value: $percentage / 100 * $base-font-size;
//   @return #{$rem-value}rem;
// }

.underline {
  display: block;
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  height: 0.4rem;
  width: 100%;
  background-color: var(--secondaryColor);
  border-radius: 8rem;
  overflow: hidden;
  // $calc: percentage-to-rem(100, 10px);

  &::after {
    content: "";
    display: block;
    background-color: var(--textColor);
    position: absolute;
    top: 0;
    left: -1.7rem;
    width: 1.6rem;
    height: 100%;
    border-radius: 8rem;
    animation: linear infinite moveInRight 2s;
  }
}

.paragraph {
  font-size: 2rem;
  color: var(--secondaryColor);
  font-weight: 300;
  letter-spacing: 0.87px;
  line-height: 1.3;
}
