.main {
  width: 73%;
  margin-inline: auto;
  padding-inline: 6rem;
}

.section-about {
  padding-block: 11rem;
}

.section-skills {
  padding-block: 11rem;
}

.section-projects {
  padding-block: 11rem;
}

.section-contact {
  padding-block: 11rem;
}

.footer {
  padding-block: 1.2rem;
  font-size: 1.2rem;
  background-color: var(--projectCardColor);
  color: var(--paragraphColor);
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
}
