.main {
  width: 73%;
  margin-inline: auto;
  padding-inline: 6rem;

  @include respond(tab-land) {
    padding-inline: 3rem;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.section-about {
  padding-block: 11rem;
  @include respond(phone) {
    padding-block: 9rem;
  }
}

.section-skills {
  padding-block: 11rem 8rem;

  @include respond(phone) {
    padding-block: 9rem 7.6rem;
  }
}

.section-projects {
  padding-block: 11rem;

  @include respond(phone) {
    padding-block: 9rem;
  }
}

.section-contact {
  padding-block: 11rem;
  @include respond(phone) {
    padding-block: 9rem;
  }
}

.footer {
  padding-block: 1.8rem;
  font-size: 1.6rem;
  background-color: var(--projectCardColor);
  color: var(--paragraphColor);
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
  box-shadow: 0 -1.8rem 3rem $shadow-footer;

  @include respond(phone) {
    padding-block: 1.7rem;
    font-size: 1.4rem;
  }
}
